<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <div class="loginBox">
            <h4>{{responseError}}</h4>
            <form class="form-horizontal" [formGroup]="form" (ngSubmit)="login()">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="Email" class="control-label">Email</label>
                        <input id="Email" class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email"
                            formControlName="Email">
                        <div *ngIf="Email">
                            <div *ngIf="Email.invalid && (Email.dirty || Email.touched)">
                                <div *ngIf="Email.errors" class="alert alert-danger">
                                    <div *ngIf="Email.errors.pattern">Not a valid Email Id.</div>
                                    <div *ngIf="Email.errors.required">Email is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="Password" class="control-label">Password</label>
                        <input id="Password" class="form-control mr-sm-2" type="Password" placeholder="Password"
                            aria-label="Password" formControlName="Password">
                        <div *ngIf="Password">
                            <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                                <div *ngIf="Password.errors" class="alert alert-danger">
                                    <div *ngIf="Password.errors.required">Password is required.</div>
                                    <div *ngIf="Password.errors.minLength!==null">Password must be of min 8 characters</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary col-sm-12" [disabled]="!form.valid">
                    LOGIN
                </button>

            </form>
        </div>
        <hr>
        <p style="text-align: center;">OR</p>
        <hr>
        <a class="btn col-sm-12" routerLink="/register">REGISTER </a>
    </div>
</div>